@function light-comp($color) {
    $complement: complement($color);
    $light-complement: lighten($complement, 10%);
    @return $light-complement;
}
@function dark-comp($color) {
    $complement: complement($color);
    $dark-complement: darken($complement, 10%);
    @return $dark-complement;
}